<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Do Math!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <form>
          <input type="number" id="num1" placeholder="enter a number">
          <select required name="operator">
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">*</option>
              <option value="/">/</option>
          </select>
          <input type="number" id="num2" placeholder="enter a number">
          <input type="submit" value="="><label>&nbsp;&nbsp;&nbsp;<span id="resultDisplay">...</span></label>
        </form>
        <script src="" async defer></script>
    </body>
</html>
